body {
    font: 90% "Lucida Grande", Arial;
    color: #eee;
	
    background: #5577aa;
}

a {
    text-decoration: none;
    color: #cc5;
    font-size: 15px;
}

.title {
    color: #dd7;
}

#dynamicattractor {
    text-align: center;
}